.loading-container {
    width: 150px;
    margin: 30px auto 0 auto;
    text-align: center;
  }
  
  .loading-message {
    font-size: 20px;
    font-weight: bold;
  }
  
  .error-notification {
    display: flex;
    align-items: center;
  }
  
  .no-data-message {
    width: 180px;
    margin: 30px auto 0 auto;
    text-align: center;
  }
  
  .success-message {
    width: 400px;
    margin: 30px auto;
    text-align: center;
  }
  